<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body>
    <div class="main">
        <div class="login-icon">
            <p id="login-toggle"><span id="eyeclose"><ion-icon name="arrow-down"></ion-icon></span>&nbsp; Log In</p>
        </div>
        <div class="box">
            <form action="/login" method="post">{%csrf_token%}
                <div class="user-div">
                    <input type="text" name="username", required="required">
                    <span class="username">User Name</span>
                    
                </div>
                <div class="pass-div">
                    <input class="passcode" type="password" name="password", required="required" >
                    <span class="password">Password</span>
                    <span class="hide" id="eyeopen"><ion-icon name="eye"></ion-icon></span>
                    <span class="show" id="eyeclose"><ion-icon name="eye-off"></ion-icon></span>
                </div>
                <div class="login">
                    <button class="login-btn" type="submit">Log in</button>
                </div>
            </form>
                <div class="newaccount">
                    <p>Do you have an account? <a class="signup-btn" href="/signup">Sign Up</a></p>
                </div>
            
        </div>
    </div>
    

    
</body>
<script src="{%static 'js/jquery-3.6.0.min.js'%}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    $(document).ready()
    {
        $('#login-toggle').click(function(){
            $('.box').css("-webkit-transform","translateY(0)");
            $('#login-toggle').css('opacity', '0')
        });
        $('.show').click(function(){
            $('.hide').css({
                'opacity': '1',
                'visiblity': 'visible',
                'z-index': '2'
                
            });
            $('.show').css({
                'opacity': '0',
                'visiblity': 'none',
                'z-index': '-1'
            });
            $('.passcode').attr('type', 'text');
        })
        $('.hide').click(function(){
            $('.hide').css({
                'opacity': '0',
                'visiblity': 'none',
                'z-index': '-1'
            });
            $('.show').css({
                'opacity': '1',
                'visiblity': 'visible',
                'z-index': '2'
            });
            $('.passcode').attr('type', 'password');
        });
    }
</script>
</html>